* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header-first {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
    height: 50px;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    transition: 0.5s;
}

form {
    display: flex;
    align-items: center;
    position: relative;
    left: -15px;
}

form .search {
    background-color: #fff;
    border: 1px solid #fff;
    height: 35px;
    width: 200px;
    padding-left: 10px;
    border-radius: 5px;
}

form button {
    background: transparent;
    border: none;
    height: 30px;
    font-size: 20px;
    padding-left: 25px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.header-second {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    margin-top: 40px;
    height: 80px;
    transition: 0.5s;
}

.header-second img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 0px 15px;
}

ul li a:hover {
    text-decoration: underline;
}

.user i {
    font-size: 30px;
    color: #000;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 120px;
}

.content h1 {
    text-align: center;
    margin: 10px 0px;
}

.content-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-item {
    width: 265px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-top: 25px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.content-item img {
    width: 265px;
    height: 270px;
    object-fit: cover;
}

.content-item-text {
    padding: 15px;
}

.content-item-text h2 {
    font-size: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.content-item-text b {
    color: #ff2525;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    margin-top: 130px;
    padding: 20px 0px;
}

footer .information {
    display: flex;
    flex-direction: column;
    color: rgb(150, 150, 150);
}

footer .information img {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

footer .information p {
    padding: 10px 0px;
    font-size: 18px;
}

footer form {
    display: flex;
    margin-left: 20px;
}

footer form input {
    width: 300px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
}

footer form #submit-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 35px;
    padding-left: -10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #ff2525;
    color: #fff;
    border: none;
}


.menu-footer {
    margin-top: 5px;
}

.sub-footer {
    display: flex;
    flex-direction: column;
}

.sub-footer h1 {
    color: #fff;
}

.sub-footer a {
    color: rgb(150, 150, 150);
    text-decoration: none;
    padding: 10px 0px;
    font-size: 18px;
}

.fanpage h2 {
    color: #fff;
}


